{% extends "base.html" %} {% block title %}Generate Convolution Image{% endblock
%} {% block content %}
<h2 class="mb-4">Convolution Citra</h2>
<div class="card mb-5">
  <div class="card-body">
    <form action="/convolution/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="uploadFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="uploadFile"
          accept="image/*"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Pilih Kernel:</label>
        <select name="kernel_type" class="form-select" required>
          <option value="average">Average</option>
          <option value="sharpen">Sharpen</option>
          <option value="edge">Edge</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">
        Generate Convolution
      </button>
    </form>
  </div>
</div>
{% endblock %}
