{% extends "base.html" %} {% block title %}Operasi Aritmatika Citra{% endblock
%} {% block content %}
<div class="container mt-5">
  <h2 class="text-center">Gambar yang Diunggah</h2>
  <div class="text-center">
    <img
      src="{{ image_path }}"
      alt="Uploaded Image"
      class="img-fluid rounded shadow-lg mb-4"
    />
  </div>

  <h2 class="text-center">Array RGB</h2>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Merah (R)</h3>
      <pre class="bg-white p-3 rounded shadow-sm">
{{ rgb_array['R'] | safe }}</pre
      >
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Hijau (G)</h3>
      <pre class="bg-white p-3 rounded shadow-sm">
{{ rgb_array['G'] | safe }}</pre
      >
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Biru (B)</h3>
      <pre class="bg-white p-3 rounded shadow-sm">
{{ rgb_array['B'] | safe }}</pre
      >
    </div>
  </div>

  <div class="text-center mt-4">
    <a href="/" class="btn btn-secondary">Kembali ke Home</a>
  </div>
</div>
{% endblock %}
