{% extends "base.html" %} {% block title %}Generate Fourier Transform Image{%
endblock %} {% block content %}
<h2 class="mb-4">Fourier Transform Citra</h2>
<div class="card mb-5">
  <div class="card-body">
    <form action="/fouriertransform/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="uploadFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="uploadFile"
          accept="image/*"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Generate Fourier Transform
      </button>
    </form>
  </div>
</div>
{% endblock %}
