{% extends "base.html" %} {% block title %}Generate Fourier Transform Image{%
endblock %} {% block content %}
<div class="container mt-5 mb-5">
  <h2 class="text-center">Fourier Transform Citra</h2>
  <form
    action="/fouriertransform/"
    enctype="multipart/form-data"
    method="post"
    class="mt-4"
  >
    <div class="mb-3">
      <input
        name="file"
        type="file"
        accept="image/*"
        class="form-control"
        required
      />
    </div>
    <div class="text-center">
      <input
        type="submit"
        value="Generate Fourier Transform"
        class="btn btn-primary"
      />
    </div>
  </form>
</div>
{% endblock %}
