{% extends "base.html" %} {% block title %}Konversi Grayscale{% endblock %} {%
block content %}
<h2 class="mb-4">Konversi Grayscale</h2>
<div class="card mb-5">
  <div class="card-body">
    <form action="/grayscale/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="statFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="statFile"
          accept="image/*"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Convert</button>
    </form>
  </div>
</div>
{% endblock %}
