{% extends "base.html" %} {% block title %}Generate Integral Projection Citra{%
endblock %} {% block content %}
<h2 class="mb-4">Integral Projection</h2>
<div class="card mb-5">
  <div class="card-body">
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form action="/integra/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="uploadFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="uploadFile"
          accept="image/*"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Generate Integral Projection
      </button>
    </form>
  </div>
</div>
{% endblock %}
