{% extends "base.html" %} {% block title %}Generate Pass Filter Image{% endblock
%} {% block content %}
<h2 class="mb-4">Low, High, Band Pass Filter Citra</h2>
<div class="card mb-5">
  <div class="card-body">
    <form action="/passfilter/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="uploadFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="uploadFile"
          accept="image/*"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Pilih Filter:</label>
        <select name="filter_type" class="form-select" required>
          <option value="low">Low Pass</option>
          <option value="high">High Pass</option>
          <option value="band">Band Pass</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">
        Generate Pass Filter
      </button>
    </form>
  </div>
</div>
{% endblock %}
