{% extends "base.html" %} {% block title %}Histogram Specification{% endblock %}
{% block content %}
<h2 class="text-center">Spesifikasi Histogram Citra</h2>
<div class="card mb-5">
  <div class="card-body">
    <form action="/specify/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="file">Pilih Gambar yang Akan Diubah:</label>
        <input
          name="file"
          type="file"
          accept="image/*"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="ref_file">Pilih Gambar Referensi:</label>
        <input
          name="ref_file"
          type="file"
          accept="image/*"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Specify Histogram</button>
    </form>
  </div>
</div>
{% endblock %}
