{% extends "base.html" %} {% block title %}Analisis Tekstur{% endblock %} {%
block content %}
<h2 class="mb-4">Analisis Tekstur</h2>
<div class="card mb-5">
  <div class="card-body">
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form action="/texture/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="uploadFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="uploadFile"
          accept="image/*"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Analisis Tekstur</button>
    </form>
  </div>
</div>
{% endblock %}
