{% extends "base.html" %} {% block title %}Generate Zero Padding Image{%
endblock %} {% block content %}
<h2 class="mb-4">Zero Padding Citra</h2>
<div class="card mb-5">
  <div class="card-body">
    <form action="/zeropadding/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="uploadFile" class="form-label">Pilih Gambar:</label>
        <input
          type="file"
          name="file"
          class="form-control"
          id="uploadFile"
          accept="image/*"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Nilai Zero Padding (Range):</label>
        <input
          type="range"
          min="0"
          max="1000"
          step="1"
          name="value"
          id="value"
          value="500"
          class="form-range"
        />
        <output id="valueOutput" class="form-text">50</output>
      </div>
      <button type="submit" class="btn btn-primary">
        Generate Zero Padding
      </button>
    </form>
  </div>
</div>
<script>
  const slider = document.getElementById("value");
  const output = document.getElementById("valueOutput");
  slider.addEventListener("input", function () {
    output.textContent = slider.value;
  });
</script>
{% endblock %}
